In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\OLANREWAJU\OneDrive\Desktop\data\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# What is the total sum of Wine produced in 2015 and 2018 respectively?

In [3]:
wine_grouped = df[df['Item'] == 'Wine'].groupby('Item')[['Y2015', 'Y2018']].sum()


wine_2015_grouped = wine_grouped.loc['Wine', 'Y2015']
wine_2018_grouped = wine_grouped.loc['Wine', 'Y2018']

print(f"The total sum of Wine produced in 2015 is {wine_2015_grouped}")
print(f"The total sum of Wine produced in 2018 is {wine_2018_grouped}")

The total sum of Wine produced in 2015 is 4251.81
The total sum of Wine produced in 2018 is 4039.32

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [4]:
mean_value = df["Y2017"].mean()
std_value = df["Y2017"].std()
print(f"The mean is {mean_value} and the std is {std_value}")

The mean is 140.917764860268 and the std is 1671.8623590572788

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [5]:
highest_sum_area = df.groupby(["Area"])["Y2017"].sum().idxmax()
print(f"The area corresponding to the highest sum is {highest_sum_area}")

The area corresponding to the highest sum is Nigeria

# Which year had the least correlation with ‘Element Code’?

In [6]:
correlations = {}
for year in ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']:
    correlation = df['Element Code'].corr(df[year])
    correlations[year] = correlation


least_correlated_year = min(correlations, key=correlations.get)
print(f"The year with the least correlation with 'Element Code' is {least_correlated_year} with a correlation coefficient of {correlations[least_correlated_year]}")

The year with the least correlation with 'Element Code' is Y2016 with a correlation coefficient of 0.023443997584961344

# What is the total number of unique countries in the dataset?

In [7]:
total_unique_countries = df['Area'].nunique()
print(f"The total number of unique countries in the dataset is {total_unique_countries}")

The total number of unique countries in the dataset is 49

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [8]:
total_missing_2014 = df['Y2014'].isnull().sum()

total_rows = len(df)

percentage_missing_2014 = (total_missing_2014 / total_rows) * 100

print(f"Total missing data in 2014 is: {total_missing_2014}")
print(f"Percentage of missing data in 2014 is: {percentage_missing_2014:.3f}%")

Total missing data in 2014 is: 1589
Percentage of missing data in 2014 is: 2.607%

# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [9]:
grouped_element_by_stock_variation = df[df['Element'] == 'Stock Variation'].groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

highest_sum_year_stock_variation = grouped_element_by_stock_variation.idxmax(axis=1)[0]

print(f"The year with the highest sum of Stock Variation is {highest_sum_year_stock_variation}")

The year with the highest sum of Stock Variation is Y2014

# What is the total Protein supply quantity in Madagascar in 2015?

In [10]:
madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()

madagascar_2015_rounded = round(madagascar_2015, 2)

print(f"The total Protein supply quantity in Madagascar in 2015 is {madagascar_2015_rounded} grams per capita per day")

The total Protein supply quantity in Madagascar in 2015 is 173.05 grams per capita per day

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [11]:
selected_columns = df[['Y2017', 'Area']]

sums_2017 = selected_columns.groupby('Area')['Y2017'].sum()

sorted_sums_2017 = sums_2017.sort_values().reset_index()

seventh_lowest_area = sorted_sums_2017.iloc[6]['Area']

print(f"The area with the 7th lowest sum in 2017 is {seventh_lowest_area}")

The area with the 7th lowest sum in 2017 is Guinea-Bissau

# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [12]:
processing_2017 = df[(df['Element'] == 'Processing')]['Y2017'].sum()

print(f"The total sum of Processing in 2017 is {processing_2017}")

The total sum of Processing in 2017 is 292836.0